main{
    .aboutus{
        > .row{
            padding: 20px 50px;
        }
        h1,h2{font-family: 'Oswald', sans-serif;}
        .aboutus-banner{
            margin-bottom: 40px;
            >div{
                padding: 0;
            }
            h1{
                margin:0px;
                padding:15px 25px;
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: rgb(255,255,255);
                background-color: rgba(255,255,255,0.6);
            }
            .red{
                color: #ef4036;
            }
        }
        .aboutus-content{
            .article{
                margin-top: 25px;
            }
            .teacher{
                p{
                    font-size: 0.875em;
                    padding: 10px 0;
                }
            }
        }
    }
    .aboutus-detail{
        > .row{
            padding: 20px 50px;
        }
        margin-top:15px;
        margin-bottom:15px;
        .photo{
            background-color: #ef4036;
            padding: 15px;
            p{
                margin:10px 0;
                color: #fff;
            }
        }
        .thumb{
            margin-bottom: 15px;
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .aboutus-detail{
            > .row{
                padding: 0;
            }
        }
    }
}