main{
    .artstory{
        > .row{
            padding: 20px 50px;
        }
        .article{
            margin-top:15px;
            margin-bottom:15px;
            padding-top:15px;
            padding-bottom: 15px;
            border:1px solid #e1e1e1;
            border-top: 3px solid #004ca1;
            p{
                font-size:1em;
                b.name{color: #ef4036;font-size: 1.2em;}
            }
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .artstory{
            > .row{
                padding: 0;
            }
        }
    }
}