main{
    .contactus{
        > .row{
            padding: 10px 50px;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            font-size: 1.5em;
            margin:0;
        }
        h2,h3{
            font-family: 'Oswald', sans-serif;
        }
        p{
            font-size: 0.8em;
        }
    }
    .contactus-thankyou{
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            margin:40px 0;
        }
        h2{
            margin:40px;
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .contactus{
            > .row{
                padding: 0;
            }
        }
    }
}