main{
    .course-header,.course-footer{
        font-family: 'Oswald', sans-serif;
        padding: 20px 50px;
        margin:15px 0;
        background-color: #fff;
        p{
            padding: 25px;
        }
        h1{
            font-size: 1em;
        }
    }
    .course-footer{
        p{
            padding: 0px;
        }
    }
    .quote{
        padding: 5px 25px;
        background-color: #ef4036;
    }
    .couse-list{
        font-family: 'Oswald', sans-serif;
        padding: 20px 50px;
        margin:15px 0;
        .course-intro{
            background-color: #ef4036;
            .course-intro-text{
                padding: 35px;
                color: #fff;    
            }
            .course-intro-image{
                padding: 0;
                float: right;
            }
        }
        .course-detail{
        }

        &.right{
            text-align: right;
            .course-intro-text{
                float:right;
            }
            .course-intro-image{
                padding: 0;
                float: left;
            }
        }
    }
}

@media all and (max-width: 768px) {
    main{
        .couse-list{
            padding: 0;
        }
    }
}