main{
    .gallery{
        > .row{
            padding: 20px 50px;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            font-size: 1.5em;
        }
        .slider{
            margin-bottom: 30px;
        }
        .thumb-item{
            margin-bottom: 30px;
        }
    }
    .gallery_detail{
        > .row{
            padding: 20px 50px;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            font-size: 1.5em;
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .gallery{
            > .row{
                padding: 0;
            }
        }
    }
}