main{
    .home{
        .slider{
            padding: 20px 50px;
            background-color: #f8f8f8;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    a{
                    }
                }
            }
        }
        .course{
            margin-bottom: 20px;
            padding: 20px 80px;
            background-color: #f8f8f8;
            h2{
                color: #ef4036;
                font-size: 2.25em;
                font-family: 'Oswald', sans-serif;
                width: 100%;
                text-align: right;
            }
            a{
                p.title{
                    padding:3px 0;
                    bottom: 40px;
                    position: relative;
                    width:100%;
                    margin-bottom: 0;
                    background: rgb(35, 31, 32); /* The Fallback */
                    background: rgba(35, 31, 32, 0.75); 
                    font-weight: bold;
                    font-family: 'Oswald', sans-serif;
                    color:#fff;
                    text-align: center;
                }
                &:hover,&.active{
                    text-decoration: none;
                    p.title{
                        color:#fff;
                        background: rgb(239, 64, 54);
                    }
                }
            }
        }
        .update{
            padding: 20px 50px;
            h2{
                color: #383838;
                font-size: 1.5em;
            }
            .update-item{
                a{
                    display: block;
                    background-color: #f8f8f8;
                    &:hover{
                        text-decoration: none;
                    }
                    .img{
                        padding: 10px;
                    }
                    .content{
                        padding: 0 10px;
                        font-size: 0.8em;
                        color: #000;
                        .title{
                            color: #ef4036;
                            font-weight: bold;
                            font-size: 1.2em;
                        }
                        .sub-title{
                            font-size: 1.1em;
                        }
                        .date{
                            font-weight: bold;
                            color: #bdbdbd;
                            text-align: right;
                            font-size: 0.8em;
                        }
                    }
                    .more{
                        background-color: #ef4036;
                        padding: 10px 0;
                        color: #fff;
                        text-align: center;
                        font-family: 'Myriad Pro';
                    }
                }
            }
        }
        .gallery{
            padding: 20px 50px;
            h2{   
                color: #383838;
                font-size: 1.5em;
            }
            p{
                margin:10px 0;
                font-size: 0.9em;
            }
        }
        .behidetheframe{
            padding: 10px;
            color:#fff;
            background-color: #ef4036;
            h2{
                color:#fff;
                padding: 0;
                margin: 0;
                font-size: 1.5em;
            }
            h3{
                color:#fff;
                padding: 0;
                font-size: 1.1em;
            }
            p{
                text-align: left;
                font-size: 0.8em;
            }
            a{
                font-weight: bold;
                color: #fcff00;
                text-align: right;
                display: block;
                width: 100%;
            }
        }
        .viewall{
                text-align: right;
            a{
                color: #ef4036;
                font-size: 1.2em;
                text-decoration: underline;
            }
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .home{
            .slider,.course,.update,.gallery{padding:20px 0;}
            .behidetheframe{margin-bottom: 10px;}
        }
    }
}