.ef4036{
    color: #ef4036;
}
.black{
    color: #000;
}
header{
    margin-top:65px;
    .row{
        padding:20px 50px;
        background-color: #f8f8f8;
        .tel{
            text-align: right;
            font-size: 1.725em;
            font-family: 'Myriad Pro';
            margin:7px 0;
            a{
                color: #000;
                text-decoration: none;
            }
        }
        nav{
            font-family: 'Oswald', sans-serif;
            float:right;
            font-size: 1em;
            ul{
                margin:0;
                padding: 0;
                list-style: none;
                li{
                    float:left;
                    a{
                        color: #000;
                        padding: 3px;
                        margin: 5px;
                        &.active,&:hover{
                            color: #ef4036;
                        }
                    }
                }
            }
            &.lang{
                border-left: 1px solid #ef4036;
                margin-right: -5px;
            }
        }
    }
}
footer{
    .row{
        padding: 15px;
        padding-bottom: 30px;
        background-color: #ef4036;
        h3{
            font-size: 1.2em;
            font-family: 'Myriad Pro';
            color: #fff;
        }
        p{
            color: #fff;
            font-size: 0.8em;
        }
        .social-network{
            a{
                margin-right: 15px;
                margin-bottom: 15px;
                display: inline-block;
            }
        }
    }
}

@media (min-width: 993px) and (max-width: 1200px) { 
    header{
        .row{
            .tel{
                margin:1px 0 2px;
            }
            nav{
                ul{
                    li{
                        a{
                            margin:0;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: 768px) {
    header{
        .row{
            padding: 20px 0;
            .logo{
                display: block;
                text-align: center;
                img{
                    margin: auto;
                }
            }
            nav{
                float: none;
                &.lang{
                    border-left:0;
                    margin:10px 0;
                    float: right;
                    ul{
                        li:first-child {
                            border-right: 1px solid #ef4036;
                        }
                    }
                }
            }
        }
    }
}