main{
    .news{
        > .row{
            padding: 20px 50px;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            font-size: 1.5em;
        }
        .news-item{
            margin-bottom: 30px;
            .thumb{
                background-color: #f8f8f8;
                padding: 10px 10px 0;
            }
            .content{
                position: relative;
                background-color: #f8f8f8;
                padding: 10px;
                margin:0;
                font-size: 0.8em;
                b.name{color: #ef4036;font-size:1.3em;}
                p.date{
                    position: absolute;
                    right: 10px;
                    bottom:0;
                    font-weight: bold;
                    color: #bdbdbd;
                    font-size: 0.8em;
                }
            }
            .more{
                background-color: #ef4036;
                padding: 10px 0;
                color: #fff;
                text-align: center;
                font-family: 'Myriad Pro';
                display: block;
            }
        }
    }
    .news_detail{
        > .row{
            padding: 20px 50px;
            h2{
                font-size: 1.25em;
            }
            h3{
                font-size: 1em; 
            }

        }
        h1{
            font-family: 'Oswald', sans-serif;
            background-color: #ef4036;
            color:#fff;
            padding: 10px 30px;
            font-size: 1.5em;
        }
    }
}
@media all and (max-width: 768px) {
    main{
        .news{
            > .row{
                padding: 0;
            }
        }
    }
}