.ourstudents{

    h1{
        font-family: 'Oswald', sans-serif;
        background-color: #ef4036;
        color:#fff;
        padding: 10px 30px;
        font-size: 1.5em;
    }
    .fullname{
        color: #ef4036;
        font-size: 0.9em;
    }
    .school{
        color: #000;
        font-size: 0.9em;
    }
    a:hover{text-decoration: none;}
}
.ourstudents_detail{

    h1{
        font-family: 'Oswald', sans-serif;
        background-color: #ef4036;
        color:#fff;
        padding: 10px 30px;
        font-size: 1.5em;
    }

    h2.resume-title{
        color: #ef4036;
    }
    .student-image{
        background-color: #ef4036;
        padding: 10px;
    }
    .form-horizontal{
        padding: 10px 0;
        label.control-label{padding-top: 0;font-weight: normal;color: #ef4036;}
    }
}