@font-face {
    font-family: 'DBHelvethaicaX55Regular';
    src: url('dbhelvethaicax.eot');
    src: url('dbhelvethaicax.eot') format('embedded-opentype'),
         url('dbhelvethaicax.woff') format('woff'),
         url('dbhelvethaicax.ttf') format('truetype'),
         url('dbhelvethaicax.svg#DBHelvethaicaX55Regular') format('svg');
}
