/* line 1, ../sass/_masterpage.scss */
.ef4036 {
  color: #ef4036;
}

/* line 4, ../sass/_masterpage.scss */
.black {
  color: #000;
}

/* line 7, ../sass/_masterpage.scss */
header {
  margin-top: 65px;
}
/* line 9, ../sass/_masterpage.scss */
header .row {
  padding: 20px 50px;
  background-color: #f8f8f8;
}
/* line 12, ../sass/_masterpage.scss */
header .row .tel {
  text-align: right;
  font-size: 1.725em;
  font-family: 'Myriad Pro';
  margin: 7px 0;
}
/* line 17, ../sass/_masterpage.scss */
header .row .tel a {
  color: #000;
  text-decoration: none;
}
/* line 22, ../sass/_masterpage.scss */
header .row nav {
  font-family: 'Oswald', sans-serif;
  float: right;
  font-size: 1em;
}
/* line 26, ../sass/_masterpage.scss */
header .row nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 30, ../sass/_masterpage.scss */
header .row nav ul li {
  float: left;
}
/* line 32, ../sass/_masterpage.scss */
header .row nav ul li a {
  color: #000;
  padding: 3px;
  margin: 5px;
}
/* line 36, ../sass/_masterpage.scss */
header .row nav ul li a.active, header .row nav ul li a:hover {
  color: #ef4036;
}
/* line 42, ../sass/_masterpage.scss */
header .row nav.lang {
  border-left: 1px solid #ef4036;
  margin-right: -5px;
}

/* line 50, ../sass/_masterpage.scss */
footer .row {
  padding: 15px;
  padding-bottom: 30px;
  background-color: #ef4036;
}
/* line 54, ../sass/_masterpage.scss */
footer .row h3 {
  font-size: 1.2em;
  font-family: 'Myriad Pro';
  color: #fff;
}
/* line 59, ../sass/_masterpage.scss */
footer .row p {
  color: #fff;
  font-size: 0.8em;
}
/* line 64, ../sass/_masterpage.scss */
footer .row .social-network a {
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

@media (min-width: 993px) and (max-width: 1200px) {
  /* line 76, ../sass/_masterpage.scss */
  header .row .tel {
    margin: 1px 0 2px;
  }
  /* line 82, ../sass/_masterpage.scss */
  header .row nav ul li a {
    margin: 0;
  }
}
@media all and (max-width: 768px) {
  /* line 93, ../sass/_masterpage.scss */
  header .row {
    padding: 20px 0;
  }
  /* line 95, ../sass/_masterpage.scss */
  header .row .logo {
    display: block;
    text-align: center;
  }
  /* line 98, ../sass/_masterpage.scss */
  header .row .logo img {
    margin: auto;
  }
  /* line 102, ../sass/_masterpage.scss */
  header .row nav {
    float: none;
  }
  /* line 104, ../sass/_masterpage.scss */
  header .row nav.lang {
    border-left: 0;
    margin: 10px 0;
    float: right;
  }
  /* line 109, ../sass/_masterpage.scss */
  header .row nav.lang ul li:first-child {
    border-right: 1px solid #ef4036;
  }
}
/* line 3, ../sass/_home.scss */
main .home .slider {
  padding: 20px 50px;
  background-color: #f8f8f8;
}
/* line 6, ../sass/_home.scss */
main .home .slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 16, ../sass/_home.scss */
main .home .course {
  margin-bottom: 20px;
  padding: 20px 80px;
  background-color: #f8f8f8;
}
/* line 20, ../sass/_home.scss */
main .home .course h2 {
  color: #ef4036;
  font-size: 2.25em;
  font-family: 'Oswald', sans-serif;
  width: 100%;
  text-align: right;
}
/* line 28, ../sass/_home.scss */
main .home .course a p.title {
  padding: 3px 0;
  bottom: 40px;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  background: #231f20;
  /* The Fallback */
  background: rgba(35, 31, 32, 0.75);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
}
/* line 41, ../sass/_home.scss */
main .home .course a:hover, main .home .course a.active {
  text-decoration: none;
}
/* line 43, ../sass/_home.scss */
main .home .course a:hover p.title, main .home .course a.active p.title {
  color: #fff;
  background: #ef4036;
}
/* line 50, ../sass/_home.scss */
main .home .update {
  padding: 20px 50px;
}
/* line 52, ../sass/_home.scss */
main .home .update h2 {
  color: #383838;
  font-size: 1.5em;
}
/* line 57, ../sass/_home.scss */
main .home .update .update-item a {
  display: block;
  background-color: #f8f8f8;
}
/* line 60, ../sass/_home.scss */
main .home .update .update-item a:hover {
  text-decoration: none;
}
/* line 63, ../sass/_home.scss */
main .home .update .update-item a .img {
  padding: 10px;
}
/* line 66, ../sass/_home.scss */
main .home .update .update-item a .content {
  padding: 0 10px;
  font-size: 0.8em;
  color: #000;
}
/* line 70, ../sass/_home.scss */
main .home .update .update-item a .content .title {
  color: #ef4036;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 75, ../sass/_home.scss */
main .home .update .update-item a .content .sub-title {
  font-size: 1.1em;
}
/* line 78, ../sass/_home.scss */
main .home .update .update-item a .content .date {
  font-weight: bold;
  color: #bdbdbd;
  text-align: right;
  font-size: 0.8em;
}
/* line 85, ../sass/_home.scss */
main .home .update .update-item a .more {
  background-color: #ef4036;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-family: 'Myriad Pro';
}
/* line 95, ../sass/_home.scss */
main .home .gallery {
  padding: 20px 50px;
}
/* line 97, ../sass/_home.scss */
main .home .gallery h2 {
  color: #383838;
  font-size: 1.5em;
}
/* line 101, ../sass/_home.scss */
main .home .gallery p {
  margin: 10px 0;
  font-size: 0.9em;
}
/* line 106, ../sass/_home.scss */
main .home .behidetheframe {
  padding: 10px;
  color: #fff;
  background-color: #ef4036;
}
/* line 110, ../sass/_home.scss */
main .home .behidetheframe h2 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
/* line 116, ../sass/_home.scss */
main .home .behidetheframe h3 {
  color: #fff;
  padding: 0;
  font-size: 1.1em;
}
/* line 121, ../sass/_home.scss */
main .home .behidetheframe p {
  text-align: left;
  font-size: 0.8em;
}
/* line 125, ../sass/_home.scss */
main .home .behidetheframe a {
  font-weight: bold;
  color: #fcff00;
  text-align: right;
  display: block;
  width: 100%;
}
/* line 133, ../sass/_home.scss */
main .home .viewall {
  text-align: right;
}
/* line 135, ../sass/_home.scss */
main .home .viewall a {
  color: #ef4036;
  font-size: 1.2em;
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  /* line 146, ../sass/_home.scss */
  main .home .slider, main .home .course, main .home .update, main .home .gallery {
    padding: 20px 0;
  }
  /* line 147, ../sass/_home.scss */
  main .home .behidetheframe {
    margin-bottom: 10px;
  }
}
/* line 3, ../sass/_aboutus.scss */
main .aboutus > .row {
  padding: 20px 50px;
}
/* line 6, ../sass/_aboutus.scss */
main .aboutus h1, main .aboutus h2 {
  font-family: 'Oswald', sans-serif;
}
/* line 7, ../sass/_aboutus.scss */
main .aboutus .aboutus-banner {
  margin-bottom: 40px;
}
/* line 9, ../sass/_aboutus.scss */
main .aboutus .aboutus-banner > div {
  padding: 0;
}
/* line 12, ../sass/_aboutus.scss */
main .aboutus .aboutus-banner h1 {
  margin: 0px;
  padding: 15px 25px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
}
/* line 21, ../sass/_aboutus.scss */
main .aboutus .aboutus-banner .red {
  color: #ef4036;
}
/* line 26, ../sass/_aboutus.scss */
main .aboutus .aboutus-content .article {
  margin-top: 25px;
}
/* line 30, ../sass/_aboutus.scss */
main .aboutus .aboutus-content .teacher p {
  font-size: 0.875em;
  padding: 10px 0;
}
/* line 37, ../sass/_aboutus.scss */
main .aboutus-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 38, ../sass/_aboutus.scss */
main .aboutus-detail > .row {
  padding: 20px 50px;
}
/* line 43, ../sass/_aboutus.scss */
main .aboutus-detail .photo {
  background-color: #ef4036;
  padding: 15px;
}
/* line 46, ../sass/_aboutus.scss */
main .aboutus-detail .photo p {
  margin: 10px 0;
  color: #fff;
}
/* line 51, ../sass/_aboutus.scss */
main .aboutus-detail .thumb {
  margin-bottom: 15px;
}

@media all and (max-width: 768px) {
  /* line 59, ../sass/_aboutus.scss */
  main .aboutus-detail > .row {
    padding: 0;
  }
}
/* line 2, ../sass/_course.scss */
main .course-header, main .course-footer {
  font-family: 'Oswald', sans-serif;
  padding: 20px 50px;
  margin: 15px 0;
  background-color: #fff;
}
/* line 7, ../sass/_course.scss */
main .course-header p, main .course-footer p {
  padding: 25px;
}
/* line 10, ../sass/_course.scss */
main .course-header h1, main .course-footer h1 {
  font-size: 1em;
}
/* line 15, ../sass/_course.scss */
main .course-footer p {
  padding: 0px;
}
/* line 19, ../sass/_course.scss */
main .quote {
  padding: 5px 25px;
  background-color: #ef4036;
}
/* line 23, ../sass/_course.scss */
main .couse-list {
  font-family: 'Oswald', sans-serif;
  padding: 20px 50px;
  margin: 15px 0;
}
/* line 27, ../sass/_course.scss */
main .couse-list .course-intro {
  background-color: #ef4036;
}
/* line 29, ../sass/_course.scss */
main .couse-list .course-intro .course-intro-text {
  padding: 35px;
  color: #fff;
}
/* line 33, ../sass/_course.scss */
main .couse-list .course-intro .course-intro-image {
  padding: 0;
  float: right;
}
/* line 41, ../sass/_course.scss */
main .couse-list.right {
  text-align: right;
}
/* line 43, ../sass/_course.scss */
main .couse-list.right .course-intro-text {
  float: right;
}
/* line 46, ../sass/_course.scss */
main .couse-list.right .course-intro-image {
  padding: 0;
  float: left;
}

@media all and (max-width: 768px) {
  /* line 56, ../sass/_course.scss */
  main .couse-list {
    padding: 0;
  }
}
/* line 3, ../sass/_news.scss */
main .news > .row {
  padding: 20px 50px;
}
/* line 6, ../sass/_news.scss */
main .news h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}
/* line 13, ../sass/_news.scss */
main .news .news-item {
  margin-bottom: 30px;
}
/* line 15, ../sass/_news.scss */
main .news .news-item .thumb {
  background-color: #f8f8f8;
  padding: 10px 10px 0;
}
/* line 19, ../sass/_news.scss */
main .news .news-item .content {
  position: relative;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 0;
  font-size: 0.8em;
}
/* line 25, ../sass/_news.scss */
main .news .news-item .content b.name {
  color: #ef4036;
  font-size: 1.3em;
}
/* line 26, ../sass/_news.scss */
main .news .news-item .content p.date {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-weight: bold;
  color: #bdbdbd;
  font-size: 0.8em;
}
/* line 35, ../sass/_news.scss */
main .news .news-item .more {
  background-color: #ef4036;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-family: 'Myriad Pro';
  display: block;
}
/* line 46, ../sass/_news.scss */
main .news_detail > .row {
  padding: 20px 50px;
}
/* line 48, ../sass/_news.scss */
main .news_detail > .row h2 {
  font-size: 1.25em;
}
/* line 51, ../sass/_news.scss */
main .news_detail > .row h3 {
  font-size: 1em;
}
/* line 56, ../sass/_news.scss */
main .news_detail h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}

@media all and (max-width: 768px) {
  /* line 68, ../sass/_news.scss */
  main .news > .row {
    padding: 0;
  }
}
/* line 3, ../sass/_gallery.scss */
main .gallery > .row {
  padding: 20px 50px;
}
/* line 6, ../sass/_gallery.scss */
main .gallery h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}
/* line 13, ../sass/_gallery.scss */
main .gallery .slider {
  margin-bottom: 30px;
}
/* line 16, ../sass/_gallery.scss */
main .gallery .thumb-item {
  margin-bottom: 30px;
}
/* line 21, ../sass/_gallery.scss */
main .gallery_detail > .row {
  padding: 20px 50px;
}
/* line 24, ../sass/_gallery.scss */
main .gallery_detail h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}

@media all and (max-width: 768px) {
  /* line 36, ../sass/_gallery.scss */
  main .gallery > .row {
    padding: 0;
  }
}
/* line 3, ../sass/_ourstudents.scss */
.ourstudents h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}
/* line 10, ../sass/_ourstudents.scss */
.ourstudents .fullname {
  color: #ef4036;
  font-size: 0.9em;
}
/* line 14, ../sass/_ourstudents.scss */
.ourstudents .school {
  color: #000;
  font-size: 0.9em;
}
/* line 18, ../sass/_ourstudents.scss */
.ourstudents a:hover {
  text-decoration: none;
}

/* line 22, ../sass/_ourstudents.scss */
.ourstudents_detail h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
}
/* line 30, ../sass/_ourstudents.scss */
.ourstudents_detail h2.resume-title {
  color: #ef4036;
}
/* line 33, ../sass/_ourstudents.scss */
.ourstudents_detail .student-image {
  background-color: #ef4036;
  padding: 10px;
}
/* line 37, ../sass/_ourstudents.scss */
.ourstudents_detail .form-horizontal {
  padding: 10px 0;
}
/* line 39, ../sass/_ourstudents.scss */
.ourstudents_detail .form-horizontal label.control-label {
  padding-top: 0;
  font-weight: normal;
  color: #ef4036;
}

/* line 3, ../sass/_artstory.scss */
main .artstory > .row {
  padding: 20px 50px;
}
/* line 6, ../sass/_artstory.scss */
main .artstory .article {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #e1e1e1;
  border-top: 3px solid #004ca1;
}
/* line 13, ../sass/_artstory.scss */
main .artstory .article p {
  font-size: 1em;
}
/* line 15, ../sass/_artstory.scss */
main .artstory .article p b.name {
  color: #ef4036;
  font-size: 1.2em;
}

@media all and (max-width: 768px) {
  /* line 23, ../sass/_artstory.scss */
  main .artstory > .row {
    padding: 0;
  }
}
/* line 3, ../sass/_contactus.scss */
main .contactus > .row {
  padding: 10px 50px;
}
/* line 6, ../sass/_contactus.scss */
main .contactus h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  font-size: 1.5em;
  margin: 0;
}
/* line 14, ../sass/_contactus.scss */
main .contactus h2, main .contactus h3 {
  font-family: 'Oswald', sans-serif;
}
/* line 17, ../sass/_contactus.scss */
main .contactus p {
  font-size: 0.8em;
}
/* line 22, ../sass/_contactus.scss */
main .contactus-thankyou h1 {
  font-family: 'Oswald', sans-serif;
  background-color: #ef4036;
  color: #fff;
  padding: 10px 30px;
  margin: 40px 0;
}
/* line 29, ../sass/_contactus.scss */
main .contactus-thankyou h2 {
  margin: 40px;
}

@media all and (max-width: 768px) {
  /* line 37, ../sass/_contactus.scss */
  main .contactus > .row {
    padding: 0;
  }
}
